
        <footer>
            <hr>
            <div>
                

            <div>
               <img src="img/CSUMB_Round.png"  alt="CSU Monterey Bay"/>
            </div>
            <div>
                <p>CST336 Internet Programming 2020 &copy; <%= companyName %> <br /> This is HW1 for CST336 a 4 page website on Data Science. For any inquiries please call us at <%= phoneNumber %> or email us at  <%= email %> </p>
            </div>
            </div>
        </footer>
        
    </body>

</html>