<!DOCTYPE html>
<html lang="en-US">
<!--


Chris Weilacker
6/22/2020
HW1
This is HW1 with a site on Data Science

-->


    <head>
        <meta charset="utf-8"/>
        <title>Data Science</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>



    <body>
        <header>
            <h1> Data Science</h1>
        </header>
        <hr />
        
        <nav>
            <a href="/" id="homeNav">Home</a>
            <a href="/machinelearning" id="machLearnNav">Machine Learning</a>
            <a href="/datamining" id="dataMineNav">Data Mining</a>
            <a href="/datavisualization"  id="dataVisNav">Data Visualization</a>
        </nav>